@use 'variables' as var;

// ========================================
// Media Query
// ========================================

$breakpoint-min: (
  'sm': 'print, screen and (min-width: 568px)',
  'md': 'print, screen and (min-width: 768px)',
  'lg': 'print, screen and (min-width: 1024px)',
  'xl': 'print, screen and (min-width: 1200px)',
);

@mixin media($breakpoint: md) {
  @media #{map-get($breakpoint-min, $breakpoint)} {
    @content;
  }
}

// ========================================
// clearfix
// ========================================

@mixin clearfix {
  &::after {
    clear: both;
    content: ' ';
    display: block;
  }
}
