// ========================================
// Color
// ========================================

$color-main: #353c42;
$color-secondary: #008c9e;

$color-white: #fff;
$color-black: #444;
$color-water: #eaf6fd;

$color-txt-gray: #999;

// ========================================
// Font
// ========================================

$font-gothic: 'Roboto', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
  Verdana, sans-serif;

// ========================================
// Width
// ========================================

$max-width-l: 1400px;
$max-width-m: 1200px;
$max-width-s: 90%;

// ========================================
// Path
// ========================================

$img-path: '/assets/images/';
